.container {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
}
.block-margin {
    display: block;
    margin: auto;
}
.button-dis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 146px;
    width: 387px;
    margin: auto;
}
.landing-logo {
    margin-top: 79px;
    margin-bottom: 85px;
}
.landing-photo {
    margin-bottom: 123px;
}
.lan-button {
    width: 387px;
    height: 60px;
    background-color: #62A1EB;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: none;
    border-radius: 8px;
}
